html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  border-radius: 8px;
  background-color: #333;
  display: inline-block;
}

 .btn {
   padding: .4em;
 }

.btn-small {
  padding: .3em;
}

.btn-big {
  padding: .75em;
}

.btn-subtle {
background-color: #ccc;
}

.btn-subtle:hover {
  background-color: #666;
  color: #fff;
}

.btn-ghost {
  background-color: #fff;
  border-color: #000;
  color: #333;
  border-width: 3px;
}

.btn-ghost:hover {
  background-color: #666;
}

.btn-warning {
  background-color: #f33;
}

.btn-warning:hover {
  background-color: #933;
}

a {
  text-decoration: none;
  color: #fff;
}

.btn:hover {
  color: #666;
}
